.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, minmax(100px, auto));
}

.item_5 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid #919191;
  padding: 15px;

  display: inline-block;
  vertical-align: middle;
}

.title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  text-align: middle;
  vertical-align: middle;

  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  line-height: 100px;
  color: #000000;
  width: fit-content;
  margin: auto;
}

.button_style {
  color: #000000;
  background: #ffffff;
  font-size: 12px;
  border-style: solid;
  border-color: #8e8e8e;
  border-width: thin;
  border-radius: 8px;
  outline: none;
  margin-bottom: 5px;
}

.button_style:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
