 
input{
    -webkit-appearance:none;
    -webkit-border-radius:0;
  }
  /* resest */
  #toggle-container{
    display: flex;
    width: 100%;
    height: 98vh;
    justify-content:center;
    align-items:center;
  } 

  .toggle-switch input[type=checkbox]{
    display: none;
  }
  
  .toggle-track{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 25px;
    border-radius:60px;
    background: #8b8b8b;
  }
  .toggle-track:before{
    content:'';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px; 
    margin: 5px;
    background: #fff;
    border-radius:100%;
    border:1px solid #8b8b8b;
    transition:left 0.3s;
  }
  .toggle-switch input[type=checkbox] + label .toggle-track:after{
    content:'OFF';
    display: inline-block;
    position: absolute;
    top: 3px;
    right: 10px;
    color: #fff;
  }
  
  .toggle-switch input[type=checkbox]:checked + label .toggle-track{
    background: #e51836;
  } 
  .toggle-switch input[type=checkbox]:checked + label .toggle-track:before{
    left: 30px;
   /* border:1px solid #e51737; */
  }
  .toggle-switch input[type=checkbox]:checked + label .toggle-track:after{
    content:'ON';
    left: 10px;
    top: 3px;
  }